<div class="jumbotron">
  <h1>Carga de productos</h1>
  <form action="/api/productos" method="post">
    <label for="nombreProd">Nombre</label>
    <input type="text" name="nombreProd" />
    <button type="submit">Cargar</button>
  </form>
</div>
<a href="/vistaProductos">Ver productos</a>